﻿@model TestApplication.Models.CreatePlanFactViewModel
@{
    ViewData["Title"] = "CreatePlanFactReport";
}

<h1>CreatePlanFactReport</h1>
@using (Html.BeginForm("CreatePlanFactReport", "Home", FormMethod.Post))
{
    <div class="form-group">
        <label>Departure city</label>
        <select class="form-control" name="depCityId">
            @foreach (var item in Model.DepartureCities)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label>Arrival city</label>
        <select class="form-control" name="arrCityId">
            @foreach (var item in Model.ArrivalCities)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label>Month</label>
        <select class="form-control" name="month">
            @foreach (var item in Model.Months)
            {
                <option value="@item.Idx">@item.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label>Access</label>
        <select class="form-control" name="userIds" multiple>
            @foreach (var item in Model.Users)
            {
                <option value="@item.Id">@item.UserName</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
}

