﻿@model TestApplication.Models.ReportsViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a class="btn btn-primary btn-lg" href="@Url.Action("CreateFactGroupReport","Home")" role="button">Create Fact-Group</a>|<a class="btn btn-primary btn-lg" href="@Url.Action("CreatePlanFactReport","Home")" role="button">Create Plan-Fact</a>
</div>
<h1>Plan-Fact Reports</h1>
<div style="display:flex;flex-wrap:wrap;justify-content:space-between">
    @if (Model.Reports.Count != 0)
    {
        foreach (var item in Model.Reports)
        {
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@item.Plan.DepartureCity.Name - @item.Plan.ArrivalCity.Name </h5>
                    @{
                        if (item.Plan.Month < 10)
                        {
                            string month = $"0{item.Plan.Month}";
                            <h6 class="card-subtitle mb-2 text-muted">Month - @month</h6>

                        }
                        else
                        {
                            <h6 class="card-subtitle mb-2 text-muted">Month - @item.Plan.Month</h6>
                        }
                    }
                    <a href="@Url.Action("ShowPlanFactReport","Home",new {id = item.Id })" class="card-link">Show</a>
                </div>
            </div>
        }
    }

</div>
<h1>Group-Fact Reports</h1>
<div style="display:flex;flex-wrap:wrap;justify-content:space-between">
    @if (Model.GroupReports.Count != 0)
    {
        foreach (var item in Model.GroupReports)
        {
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        Departure cities:
                        @{ string city = "";}
                        @foreach (var groupRepPlan in Model.GroupReportsPlans.Where(gp => gp.GroupReport.Id == item.Id))
                        {
                            if (city != groupRepPlan.Plan.DepartureCity.Name)
                            {
                                city = groupRepPlan.Plan.DepartureCity.Name;
                                <p>@groupRepPlan.Plan.DepartureCity.Name</p>
                            }
                        }
                    </h5>
                    @{
                        if (Model.GroupReportsPlans.FirstOrDefault(gp => gp.GroupReport.Id == item.Id).Plan.Month < 10)
                        {
                            string month = $"0{Model.GroupReportsPlans.FirstOrDefault(gp => gp.GroupReport.Id == item.Id).Plan.Month}";
                            <h6 class="card-subtitle mb-2 text-muted">Month - @month</h6>

                        }
                        else
                        {
                            <h6 class="card-subtitle mb-2 text-muted">Month - @Model.GroupReportsPlans.FirstOrDefault(gp => gp.GroupReport.Id == item.Id).Plan.Month</h6>
                        }
                    }
                    <a href="@Url.Action("ShowGroupFactReport", "Home", new { id = item.Id })" class="card-link">Show</a>
                </div>
            </div>
        }
    }
</div>