﻿@model TestApplication.Models.GroupFactReportViewModel
@{
    ViewData["Title"] = "ShowPlanFactReport";
}

<h2>Group-Fact Report</h2>
@{
    if (Model.Plans[0].Month < 10)
    {
        string month = $"0{Model.Plans[0].Month}";
        <h3>Month - @month</h3>
    }
    else
    {
        <h3>Month - @Model.Plans[0].Month</h3>
    }
}
<table class="table table-hover">
    <thead class="thead-dark ">
        <tr>
            <th scope="col">Departure city</th>
            <th scope="col">Arrival city</th>
            <th scope="col">Planned amount</th>
            <th scope="col">Actual amount</th>
        </tr>
    </thead>
    <tbody>
        @{ string city = "";}
        @foreach (var item in Model.Plans.OrderBy(p => p.DepartureCity.Name).ToList())
        {

            if (city != item.DepartureCity.Name)
            {
                city = item.DepartureCity.Name;
                <tr>
                    <td class="btn btn-primary" data-toggle="collapse" data-target=".@city">@item.DepartureCity.Name</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            }
            int actualAmount = 0;
            foreach (var shipping in Model.Shippings.Where(s => s.DepartureCityId == item.DepartureCity.Id && s.ArrivalCityId == item.ArrivalCity.Id).ToList())
            {
                actualAmount++;
            }
            <tr class="@city collapse">
                <td></td>
                <td>@item.ArrivalCity.Name</td>
                <td>@item.PlannedAmount</td>
                <td>@actualAmount</td>
            </tr>
        }
    </tbody>
</table>
