﻿@model TestApplication.Models.PlanFactViewModel
@{
    ViewData["Title"] = "ShowPlanFactReport";
}

<h2>Plan-Fact Report</h2>
<h3>@Model.Report.Plan.DepartureCity.Name - @Model.Report.Plan.ArrivalCity.Name.</h3>
@{
    if (Model.Report.Plan.Month < 10)
    {
        string month = $"0{Model.Report.Plan.Month}";
        <h3>Month - @month</h3>
    }
    else
    {
        <h3>Month - @Model.Report.Plan.Month</h3>
    }
}
<div class="table-responsive">
    <table class="table table-hover">
        <thead class="thead-dark ">
            <tr>
                <th scope="col">Departure city</th>
                <th scope="col">Arrival city</th>
                <th scope="col">Planned amount</th>
                @for (int i = 1; i <= 31; i++)
                {
                    <th scope="col">@i day</th>
                }
                <th scope="col">Actual amount</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">@Model.Report.Plan.DepartureCity.Name</th>
                <th scope="row">@Model.Report.Plan.ArrivalCity.Name</th>
                <td>@Model.Report.Plan.PlannedAmount</td>
                @for (int i = 1; i <= 31; i++)
                {
                    int count = 0;
                    foreach (var item in Model.Shippings)
                    {
                        if (item.Date.Day == i)
                        {
                            count++;
                        }
                    }
                    if (count == 0)
                    {
                        <td>—</td>
                    }
                    else
                    {
                        <td>@count shippings</td>
                    }

                }
                <td>@Model.Report.FactAmount shippings</td>
            </tr>
        </tbody>
    </table>
</div>
